:root {
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
}

.montserrat {
    font-family: Montserrat;
}

.poppins {
    font-family: Poppins;
}

#chartdiv {
    width: 100%;
    height: 500px;
}

#svg-map path {
    fill: #c1c1c1
}

.imagem img {
    height: 125px;
    width: 125px;
    object-fit: cover;
}

.toast {
    --bs-toast-bg: rgba(255,255,255,1);
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.discord-link {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #5865F2;
  color: white;
  border-radius: 50px;
  padding: 10px;
  text-decoration: none;
  font-size: 1.2rem;
  width: 50px;
  height: 50px;
  overflow: hidden;
  transition: all 0.3s ease;
  position: relative;
}

.discord-link i {
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.discord-link span {
  margin-left: 10px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateX(-10px);
}

.discord-link:hover {
  width: 205px;
}

.discord-link:hover i {
  transform: scale(1.1);
}

.discord-link:hover span {
  opacity: 1;
  transform: translateX(0);
}

.icon-link {
  display: inline-flex;
  gap: .375rem;
  align-items: center;
  text-decoration-color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 0.5));
  text-underline-offset: 0.25em;
  backface-visibility: hidden;
}

.icon-link>.bi {
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  fill: currentcolor;
  transition: .2s ease-in-out transform;
  text-decoration: none;
}
